pipeline/metadata with if condition.json
{
	"name": "metadata with if condition",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata table exits",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "genericdb",
						"type": "DatasetReference",
						"parameters": {
							"schema": "salesLT",
							"table": "customer"
						}
					},
					"fieldList": [
						"exists"
					]
				}
			},
			{
				"name": "If table exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata table exits",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata table exits').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data from entity",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "genericdb",
									"type": "DatasetReference",
									"parameters": {
										"schema": "SalesLT",
										"table": {
											"value": "@pipeline().parameters.TableEntity",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "datalakestorage",
									"type": "DatasetReference",
									"parameters": {
										"folder_path": "IF TABLE EXISTS"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"TableEntity": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-01-29T05:35:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}